<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <title></title>
</head>

<body>
  {{- partial "lang.html" . -}}

  <p class="copyright">{{ .Site.Copyright | markdownify }}</p>
</body>
</html>
