:root {
	/* Background */
	--bg: var(--base00);
	--off-bg: var(--base01);
	--inner-bg: var(--base02);

	/* Text */
	--fg: var(--base05);
	--off-fg: var(--base04);
	--muted: var(--base03);
	--link: var(--base12);
	--hover: var(--base0C);
	--highlight: var(--base0F);
	--emphasis: var(--base09);
	--bright: var(--base08);

	/* Logo */
	--logo: var(--base0B);
}
